{% extends 'main/base.html' %}
{% block title %} Content Page {% endblock %}
{% block content %}

<div class="row mt-4">
    <div class="col-md-12">
        <a href="{% url 'main:main' %}" class="btn btn-primary">Return to Main Page</a>
    </div>
</div>

<div class="header">
    <h2>{{content.title}}</h2>
    <h4>{{content.topics}}</h4>
</div>

<div class="content">
    {% if content.tag == "pdf" %}
    <embed src="{{ content.file.url }}" type="application/pdf" width="100%" height="600px" />
    {% elif content.tag == "video" %}
    <video width="100%" height="auto" controls>
        <source src="{{ content.file.url }}" type="video/mp4">
    </video>
    {% elif content.tag == "image" %}
        <img src="{{ content.file.url }}" alt="{{ title }}">
    {% else %}
        <p>Unsupported file type: {{ content.tag }}</p>
    {% endif %}

</div>

{% endblock %}